.message {
    color:green;
    background: lightgrey;
    padding: 10px;
    border: 5px solid green;
    margin-bottom: 10px;
}

.error {
    color:red;
    background: lightgrey;
    padding: 10px;
    border: 5px solid red;
    margin-bottom: 10px;
}